@using Splats.Web.Controls

@model SerieListItemModel


<script src="~/Controls/SerieItemList/Js/serieItemList.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		var containerDivId = '@Model.DivContainerId';
		var urlDeleteSerie = '@Url.Action("Delete", "Series", new { id = Model.Id})';
		serieItemListView.init(containerDivId);
	});
	
</script>



<div class="col-md-12" id='@Model.DivContainerId'>
	<div class="thumbnail">
		<div>
			<span class="label label-info info" style="position:absolute;">
				<a class="modal-link" href="@Url.Action("Edit", "Series", new { id = Model.Id })" style="text-decoration: none">
					<span data-toggle="tooltip" title="Edit"><b class="glyphicon glyphicon-pencil"></b></span> 
				</a>
				|
				<a id="lnkDeleteSerie" data-id="@Model.Id" data-url='@Url.Action("Delete", "Series", new { id = Model.Id})' style="text-decoration: none">
					<span data-toggle="tooltip" title="Delete"><b class="glyphicon glyphicon-remove"></b></span> 
				</a>
				|
				<a class="modal-link"  href="@Url.Action("Details", "Series", new { id = Model.Id})" style="text-decoration: none">
					<span data-toggle="tooltip" title="Detail"><b class="glyphicon glyphicon-zoom-in"></b></span>
				</a>
			</span>
		</div>
		<img src='@Model.ImageUrl' alt="@Model.Title" style="width:100%">
		<h4>@Model.Title</h4>
		<div class="caption">
			<p style="display: block;overflow-y: hidden;max-height: 200px;">@Model.Description</p>
		</div>
	</div>
</div>
