@model IEnumerable<Splats.Data.Entities.Serie>

@{
	ViewBag.Title = "Index";
}
<p>
	@Html.ActionLink("Create New", "Create")
</p>

<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-md-3" style="padding-top:1rem;">
			@Html.SerieListItem(item.Name, item.Description, item.ImageUrl)
			@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "modal-link btn btn-success" })
		</div>

	}
</div>

@*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
@Html.ActionLink("Details", "Details", new { id = item.Id }) |
@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@